<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYw8qHTyBHRS1fH9R341PvVJJB5XpxXiM</string>
	<key>GCM_SENDER_ID</key>
	<string>576270923723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.offersHub</string>
	<key>PROJECT_ID</key>
	<string>offershub-5e52e</string>
	<key>STORAGE_BUCKET</key>
	<string>offershub-5e52e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576270923723:ios:547c4724d4bd92072d684e</string>
</dict>
</plist>